*{box-sizing:border-box;}

.dark-theme {
  --background:#000;
  --headerEnIntro:#FFCD29;
  --headerBorder:#000;
  --introBorder:#fff;
  --fontColor:#000;
  --fontColorMS:#fff;
  --footerBackground:grey;
  --footerColor:lightgrey;
  --btnFontColor:#fff;
  --btnBg:#000;
  --navbarColor:grey;
  --buttonBorder:#fff;
  --buttonbg:#FFCD29;
}

.light-theme {
  --background:#fff;
  --headerEnIntro:#FFCD29;
  --headerBorder:#FFCD29;
  --introBorder:#000;
  --fontColor:#000;
  --fontColorMS:#000;
  --footerBackground:#EBA611;
  --footerColor:#FFCD29;
  --btnFontColor:#000;
  --btnBg:#fff;
  --navbarColor:#FFCD29;
  --buttonBorder:#000;
  --buttonbg:#FFCD29;
}

body {background-color:var(--background);
margin-top:0px;
}

header {  
  display:flex;
  background-color:var(--headerEnIntro);
  border: 5px var(--headerBorder) solid;
  align-items: center;
  border-radius: 0px 0px 30px 30px;
  padding: 10px;
}

.btn {
  background-color:var(--btnBg);
  color:var(--btnFontColor);
  top: 20px;
  left: 250px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  
}

li {
  list-style:none;
}

.nav-bar {
  display:flex;
  min-height:70px;
  justify-content:space-between;
  align-items:center;
  padding:0 24px;
}

.nav-menu {
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:5px;
}

.nav-branding {
  font-size:2rem;
}

.nav-link {
  transition:0.7s ease;
}

.nav-link:hover {
  color:dodgerblue;
}

.hamburger {
  display:none;
  cursor:pointer;
  padding-left:10px;
}

.bar {
  display:block;
  width:25px;
  height:3px;
  margin:5px auto;
  --webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color:#fff;
}

@media (max-width:768px){
  
  .hamburger {
    display:block;
  }
  
  .hamburger.active .bar:nth-child(2){
    opacity:0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45-deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45-deg);
  }
  
  .nav-menu {
    position:fixed;
    left: -100%;
    top:140px;
    gap:0;
    flex-direction: column;
    background-color:var(--navbarColor);
    width:100%;
    text-align:center;
    transition: 0.3s;
  }
  
  .nav-item {
    margin: 16px 0;
  }
  
  .nav-menu.active {
    left:0;
  }
}

/*flexbox*/
.flex-c1 {
  display:flex;
  background-color: #FFCD29;
  border-radius:0px 0px 30px 30px;
  align-items: center;
  }
  
/*flexbox*/
  .flex-c1 > div {
    margin:10px;
    padding:10px;
    }

    .column1 {
      float:left;
      width:15%;
      height:100%;
      text-align: center;
      }

/*flexbox*/
.flexcalisthenics1 {
  display:flex;
  border: black 5px solid; 
  border-radius: 120px;
  margin-top:30px;
  margin-bottom:30px;
  padding-top:21px;
  padding-bottom:7px;
  justify-content:flex-start;
  border-color:var(--introBorder)
  }

/*flexbox*/
/* .flexcalisthenics1 > div {
    
  } */

    .column2 {
      float:left;
      width:30%;
      height:100%;
      text-align:center;
      }

  h1 {
    color:var(--fontColor);
    font-size: 80px;
    padding-left:5px;
    margin:20px;
    }
  h2 {
    font-size: 60px;
    padding-top:20px;
    padding-left:45px;
    padding-right:20px;
    color:var(--fontColorMS);
    }
    
    p {
      font-size: 25px; font-family: cursive;
      }
    pre {
      font-size: 25px; font-family: cursive;
      }
      
      .pageseasy {
        width:100px;
        height:115px;
        border-radius:50%;
        transition-duration:0.5s;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        line-height:100px;
        }

      .pagesIM {
        width:100px;
        height:115px;
        border-radius:50%;
        transition-duration:0.5s;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        line-height:100px;
        }


      .pageshard {
        width:100px;
        height:115px;
        border-radius:50%;
        transition-duration:0.5s;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        line-height:100px;
        }
        
        img {
          position: absolute;
          right: 10px;
          bottom: 128px;
          width: 500px;
          height: 390px;
          border-top-right-radius:120px;
          border-bottom-right-radius:120px;
          }
      
      a {
        text-decoration:none;
        font-size:30px;
        margin: 30px;
        }

    a:link, a:visited {
      background-color:var(--buttonbg);
      color:#000;
      padding: 15px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      }
    
      a:hover, a:active {
      background-color:var(--buttonbg);
      }

      .pageseasy  {
        border-style:solid;
        border-color:var(--buttonBorder);
        }
      
      .pagesIM  {
        border-style:solid;
        border-color:var(--buttonBorder);
        }

      .pageshard  {
        border-style:solid;
        border-color:var(--buttonBorder);
        }
      

        hr.footerhr {
          border-width: 15px;
          border-color: #000000;
          border-style: solid;
          
          }
  
    /* Footer */
    .flexfooter {
      background-color: #EBA611;
      justify-content: center;
      padding: 50px;
      }
  
    .f1 {
      display: flex;
      justify-content: center;
      background-color:#FFCD29;
      padding-left:200px;
      padding-right:200px;
      padding-top:40px;
      padding-bottom:40px;
      font-size:45px;
  
      }






